@import url(../css/ionicons.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.hero {
  margin-bottom: 3rem;
  padding: 1rem;
  border: .5rem solid #00d8d6; }

.btn {
  padding: 1.5rem;
  border-radius: .3rem;
  margin: 1rem 0;
  background-color: #f1f141;
  border: 1px solid #f1f141; }

.cssWorks {
  color: #be2c2c; }

.ion-alert-circled {
  margin: 0 5px;
  color: #fab534; }
