//COLORS

$colorPrimary: #7bccc2; //18ff80;
$colorPrimary-light: #dffffd; //AADDBB;
$colorPrimary-dark: #4c7571;//00a84b;

// $colorSecondary: #faebd7;//rgba(255,253,219,1.9);//D7DDDA;
$colorSecondary: #fff5e7;//rgba(255,253,219,1.9);//D7DDDA;


// $colorTertiary: #ec3093; //f279bb
$colorTertiary-light: #faebd7;//f2dae7;
$colorTertiary-dark: #963168;//7c184e;//881155;
$colorTertiary: #DC91BA;//881155;


$colorGrey-light1: #f7f7f7;
$colorGrey-light2: #eee;
$colorGrey-light3: #ccc;

$colorGrey-dark1: #777;
$colorGrey-dark2: #999;
$colorGrey-dark3: #333;

$colorBlack: #000;
$colorPaletteBlack: #310a20;
$colorWhite: #ffffff;
$colorOffwhite: #f0f0ee;


//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;