* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //This defines what our default font is in rems. We decided we wanted 1 rem to default to = 10px. 
    //We chose 10px for ease of conversion from px to rem
    font-size: 62.5%; // 1 rem = 10px or 10px/16px = 62.5%
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', san-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

//BTW Media queries do not refer to the rem size we defined above.
//We use ems in the mixin in order to get user changes in default settings into scope.  
@include respond(landscape) {
    //We want landscape to default to 9px font-size. 9px/16px = 56.25%. 
    //Now 4rem in our code becomes 36px instead of 40px
    font-size: 56.25%; // font = 9px; screen= 1200px
}

@include respond(portrait) {
    font-size: 50%; // font = 8px; screen= 900px
}

@include respond(bigScreen) {
    font-size: 75%; // font = 12px; screen= 1800+px
}

//TO CHANGE HIGHLIGHT COLOUR
// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }